OnlineStorageUpload/WebContent/wsdl/UploadWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://OnlineStorageUploadWS.etfbl.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://OnlineStorageUploadWS.etfbl.net" xmlns:intf="http://OnlineStorageUploadWS.etfbl.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://OnlineStorageUploadWS.etfbl.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="upload">
    <complexType>
     <sequence>
      <element name="uploadedFile" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="uploadResponse">
    <complexType>
     <sequence>
      <element name="uploadReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="uploadRequest">

      <wsdl:part element="impl:upload" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uploadResponse">

      <wsdl:part element="impl:uploadResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UploadWS">

      <wsdl:operation name="upload">

         <wsdl:input message="impl:uploadRequest" name="uploadRequest">

       </wsdl:input>

         <wsdl:output message="impl:uploadResponse" name="uploadResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UploadWSSoapBinding" type="impl:UploadWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="upload">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uploadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uploadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UploadWSService">

      <wsdl:port binding="impl:UploadWSSoapBinding" name="UploadWS">

         <wsdlsoap:address location="http://localhost:8085/OnlineStorageUpload/services/UploadWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
